.pio
.vscode/
.aider*
.DS_Store
._*
**/.DS_Store
**/.Spotlight-V100
**/.Trashes
**/.fseventsd
.AppleDouble
**/.DS_Store
**/.Spotlight-V100
**/.Trashes
**/.fseventsd
.AppleDouble
.DS_Store
.gitignore
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.vscode/extensions.json
.vscode/launch.json
include/README
lib/README
test/README

# important
html/bambu_credentials.json
html/spoolman_url.json
website/*
release.sh
wiki
_*

# agentic coding assistants
.claude/settings.local.json
